In [1]:
import pandas as pd

df_nutrient = pd.read_csv('../raw/foodb/Nutrient.csv', sep=',', header=0, encoding='UTF-8')

df_nutrient

,id,legacy_id,type,public_id,name,export,state,annotation_quality,description,wikipedia_id,...,eafus_id,dfc_name,compound_source,metabolism,synthesis_citations,general_citations,creator_id,updater_id,created_at,updated_at
0,1,10930.0,NaN,FDBN00001,Fat,False,NaN,low,NaN,NaN,...,NaN,NaN,DUKE,NaN,NaN,NaN,NaN,NaN,2014-11-05 13:42:10 UTC,2014-11-05 13:42:10 UTC
1,2,10946.0,NaN,FDBN00002,Proteins,False,NaN,low,NaN,NaN,...,NaN,NaN,DUKE,NaN,NaN,NaN,NaN,NaN,2014-11-05 13:42:15 UTC,2014-11-05 13:42:15 UTC
2,3,16037.0,NaN,FDBN00003,Carbohydrate,False,NaN,low,Carbohydrates (or saccharides) are organic com...,Carbohydrate,...,NaN,NaN,DUKE,NaN,NaN,NaN,NaN,NaN,2014-11-05 13:44:06 UTC,2014-11-05 13:44:06 UTC
3,4,23404.0,NaN,FDBN00004,Fatty acids,False,NaN,low,NaN,NaN,...,1335.0,NaN,EAFUS,NaN,NaN,NaN,NaN,NaN,2014-11-05 13:46:00 UTC,2014-11-05 13:46:00 UTC
4,5,11134.0,NaN,FDBN00005,Fiber (dietary),False,NaN,low,NaN,NaN,...,NaN,NaN,DUKE,NaN,NaN,NaN,NaN,NaN,2014-11-05 13:47:36 UTC,2014-11-05 13:47:36 UTC
5,6,58893.0,NaN,FDBN00006,13:0,False,NaN,low,NaN,NaN,...,NaN,NaN,TABLES,NaN,NaN,NaN,NaN,NaN,2014-11-05 13:49:16 UTC,2014-11-05 13:49:16 UTC
6,7,58894.0,NaN,FDBN00007,14:1,False,NaN,low,NaN,NaN,...,NaN,NaN,TABLES,NaN,NaN,NaN,NaN,NaN,2014-11-05 13:49:19 UTC,2014-11-05 13:49:19 UTC
7,8,58895.0,NaN,FDBN00008,15:1,False,NaN,low,NaN,NaN,...,NaN,NaN,TABLES,NaN,NaN,NaN,NaN,NaN,2014-11-05 13:49:38 UTC,2014-11-05 13:49:38 UTC
8,9,58896.0,NaN,FDBN00009,16:1 c,False,NaN,low,NaN,NaN,...,NaN,NaN,TABLES,NaN,NaN,NaN,NaN,NaN,2014-11-05 13:49:52 UTC,2014-11-05 13:49:52 UTC
9,10,58897.0,NaN,FDBN00010,16:1 t,False,NaN,low,NaN,NaN,...,NaN,NaN,TABLES,NaN,NaN,NaN,NaN,NaN,2014-11-05 13:49:59 UTC,2014-11-05 13:49:59 UTC
10,11,58898.0,NaN,FDBN00011,16:1 undifferentiated,False,NaN,low,NaN,NaN,...,NaN,NaN,TABLES,NaN,NaN,NaN,NaN,NaN,2014-11-05 13:50:04 UTC,2014-11-05 13:50:04 UTC
11,12,58899.0,NaN,FDBN00012,17:1,False,NaN,low,NaN,NaN,...,NaN,NaN,TABLES,NaN,NaN,NaN,NaN,NaN,2014-11-05 13:51:16 UTC,2014-11-05 13:51:16 UTC
12,13,58900.0,NaN,FDBN00013,18:1 c,False,NaN,low,NaN,NaN,...,NaN,NaN,TABLES,NaN,NaN,NaN,NaN,NaN,2014-11-05 13:51:34 UTC,2014-11-05 13:51:34 UTC
13,14,58901.0,NaN,FDBN00014,18:1 t,False,NaN,low,NaN,NaN,...,NaN,NaN,TABLES,NaN,NaN,NaN,NaN,NaN,2014-11-05 13:51:45 UTC,2014-11-05 13:51:45 UTC
14,15,58902.0,NaN,FDBN00015,18:1 undifferentiated,False,NaN,low,NaN,NaN,...,NaN,NaN,TABLES,NaN,NaN,NaN,NaN,NaN,2014-11-05 13:51:57 UTC,2014-11-05 13:51:57 UTC
15,16,58903.0,NaN,FDBN00016,18:2 CLAs,False,NaN,low,NaN,NaN,...,NaN,NaN,TABLES,NaN,NaN,NaN,NaN,NaN,2014-11-05 13:53:09 UTC,2014-11-05 13:53:09 UTC
16,17,58904.0,NaN,FDBN00017,18:2 i,False,NaN,low,NaN,NaN,...,NaN,NaN,TABLES,NaN,NaN,NaN,NaN,NaN,2014-11-05 13:53:16 UTC,2014-11-05 13:53:16 UTC
17,18,58905.0,NaN,FDBN00018,18:2 t not further defined,False,NaN,low,NaN,NaN,...,NaN,NaN,TABLES,NaN,NaN,NaN,NaN,NaN,2014-11-05 13:53:17 UTC,2014-11-05 13:53:17 UTC
18,19,58906.0,NaN,FDBN00019,18:2 t,False,NaN,low,NaN,NaN,...,NaN,NaN,TABLES,NaN,NaN,NaN,NaN,NaN,2014-11-05 13:53:23 UTC,2014-11-05 13:53:23 UTC
19,20,58907.0,NaN,FDBN00020,18:2 undifferentiated,False,NaN,low,NaN,NaN,...,NaN,NaN,TABLES,NaN,NaN,NaN,NaN,NaN,2014-11-05 13:53:26 UTC,2014-11-05 13:53:26 UTC
20,21,58908.0,NaN,FDBN00021,18:3 undifferentiated,False,NaN,low,NaN,NaN,...,NaN,NaN,TABLES,NaN,NaN,NaN,NaN,NaN,2014-11-05 13:54:38 UTC,2014-11-05 13:54:38 UTC
21,22,58909.0,NaN,FDBN00022,18:3i,False,NaN,low,NaN,NaN,...,NaN,NaN,TABLES,NaN,NaN,NaN,NaN,NaN,2014-11-05 13:55:48 UTC,2014-11-05 13:55:48 UTC
22,23,58910.0,NaN,FDBN00023,18:4,False,NaN,low,NaN,NaN,...,NaN,NaN,TABLES,NaN,NaN,NaN,NaN,NaN,2014-11-05 13:55:49 UTC,2014-11-05 13:55:49 UTC
23,24,58911.0,NaN,FDBN00024,20:1,False,NaN,low,NaN,NaN,...,NaN,NaN,TABLES,NaN,NaN,NaN,NaN,NaN,2014-11-05 13:56:45 UTC,2014-11-05 13:56:45 UTC
24,25,58912.0,NaN,FDBN00025,20:2 n-6 c,False,NaN,low,NaN,NaN,...,NaN,NaN,TABLES,NaN,NaN,NaN,NaN,NaN,2014-11-05 13:57:50 UTC,2014-11-05 13:57:50 UTC
25,26,58913.0,NaN,FDBN00026,20:3 n-3,False,NaN,low,NaN,NaN,...,NaN,NaN,TABLES,NaN,NaN,NaN,NaN,NaN,2014-11-05 13:58:07 UTC,2014-11-05 13:58:07 UTC
26,27,58914.0,NaN,FDBN00027,20:3 n-6,False,NaN,low,NaN,NaN,...,NaN,NaN,TABLES,NaN,NaN,NaN,NaN,NaN,2014-11-05 13:58:11 UTC,2014-11-05 13:58:11 UTC
27,28,58915.0,NaN,FDBN00028,20:3 undifferentiated,False,NaN,low,NaN,NaN,...,NaN,NaN,TABLES,NaN,NaN,NaN,NaN,NaN,2014-11-05 13:58:16 UTC,2014-11-05 13:58:16 UTC
28,29,58916.0,NaN,FDBN00029,20:4 undifferentiated,False,NaN,low,NaN,NaN,...,NaN,NaN,TABLES,NaN,NaN,NaN,NaN,NaN,2014-11-05 13:58:33 UTC,2014-11-05 13:58:33 UTC
29,30,58917.0,NaN,FDBN00030,21:5,False,NaN,low,NaN,NaN,...,NaN,NaN,TABLES,NaN,NaN,NaN,NaN,NaN,2014-11-05 13:59:36 UTC,2014-11-05 13:59:36 UTC
30,31,58918.0,NaN,FDBN00031,22:0,False,NaN,low,NaN,NaN,...,NaN,NaN,TABLES,NaN,NaN,NaN,NaN,NaN,2014-11-05 13:59:37 UTC,2014-11-05 13:59:37 UTC
31,32,58919.0,NaN,FDBN00032,22:1 c,False,NaN,low,NaN,NaN,...,NaN,NaN,TABLES,NaN,NaN,NaN,NaN,NaN,2014-11-05 14:00:03 UTC,2014-11-05 14:00:03 UTC
32,33,58920.0,NaN,FDBN00033,22:1 t,False,NaN,low,NaN,NaN,...,NaN,NaN,TABLES,NaN,NaN,NaN,NaN,NaN,2014-11-05 14:00:09 UTC,2014-11-05 14:00:09 UTC
33,34,58921.0,NaN,FDBN00034,22:1 undifferentiated,False,NaN,low,NaN,NaN,...,NaN,NaN,TABLES,NaN,NaN,NaN,NaN,NaN,2014-11-05 14:00:14 UTC,2014-11-05 14:00:14 UTC
34,35,58922.0,NaN,FDBN00035,22:4,False,NaN,low,NaN,NaN,...,NaN,NaN,TABLES,NaN,NaN,NaN,NaN,NaN,2014-11-05 14:01:10 UTC,2014-11-05 14:01:10 UTC
35,36,58923.0,NaN,FDBN00036,22:5 n-3,False,NaN,low,NaN,NaN,...,NaN,NaN,TABLES,NaN,NaN,NaN,NaN,NaN,2014-11-05 14:01:15 UTC,2014-11-05 14:01:15 UTC
36,37,58924.0,NaN,FDBN00037,24:1 c,False,NaN,low,NaN,NaN,...,NaN,NaN,TABLES,NaN,NaN,NaN,NaN,NaN,2014-11-05 14:02:21 UTC,2014-11-05 14:02:21 UTC
37,38,58928.0,NaN,FDBN00038,Energy,False,NaN,low,NaN,NaN,...,NaN,NaN,TABLES,NaN,NaN,NaN,NaN,NaN,2014-11-05 14:02:28 UTC,2014-11-05 14:02:28 UTC
38,39,NaN,NaN,FDBN00039,Ash,False,NaN,low,NaN,NaN,...,NaN,NaN,TABLES,NaN,NaN,NaN,NaN,NaN,2019-08-02 19:45:58 UTC,2019-08-02 19:45:58 UTC

In [2]:
df_nutrient = df_nutrient[['id', 'name']]
df_nutrient

    id                        name
0    1                         Fat
1    2                    Proteins
2    3                Carbohydrate
3    4                 Fatty acids
4    5             Fiber (dietary)
5    6                        13:0
6    7                        14:1
7    8                        15:1
8    9                      16:1 c
9   10                      16:1 t
10  11       16:1 undifferentiated
11  12                        17:1
12  13                      18:1 c
13  14                      18:1 t
14  15       18:1 undifferentiated
15  16                   18:2 CLAs
16  17                      18:2 i
17  18  18:2 t not further defined
18  19                      18:2 t
19  20       18:2 undifferentiated
20  21       18:3 undifferentiated
21  22                       18:3i
22  23                        18:4
23  24                        20:1
24  25                  20:2 n-6 c
25  26                    20:3 n-3
26  27                    20:3 n-6
27  28       20:3 undifferentiated
28  29       20:4 undifferentiated
29  30                        21:5
30  31                        22:0
31  32                      22:1 c
32  33                      22:1 t
33  34       22:1 undifferentiated
34  35                        22:4
35  36                    22:5 n-3
36  37                      24:1 c
37  38                      Energy
38  39                         Ash

In [3]:
df_nutrient.to_csv('nutrient-graphs.csv', index=False)